body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
  }

  .resume {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
    max-width: 1000px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px;
    text-align: left;
  }

  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    text-align: left;
  }

  .header h1 {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .header p {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .contact-info {
    text-align: left;
  }

  .contact-info p {
    font-size: 20px;
    margin: 10px 0px;
    margin-bottom: 30px;
  }

  .section {
    margin-bottom: 30px;
  }

  .section h2 {
    font-size: 24px;
    margin-bottom: 7px;
    text-align: left;
  }

  .subsection h3 {
    font-size: 20px;
    margin-bottom: 5px;
    text-align: left;
  }

  .subsection p {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: left;

  }

  ul {
    list-style-type: disc;
    margin-left: 20px;
    text-align: left;
  }

  ul li {
    margin-bottom: 10px;
  }